# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Packaging
build/
dist/
*.egg-info/

# Test / coverage files
.coverage
htmlcov/
.pytest_cache/

# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Temporary files
*.log
*.tmp
*.swp
